views/partials/_drug_modal.html
<div class="modal-dialog large"><div class="modal-content"><div class="modal-header"><div class="container"><div class="col-xs-11"><h4>{{node.name}}</h4></div><div class="col-xs-1"><button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-xs btn-black btn-danger no-margin"><i class="fa fa-times"></i></button></div></div></div><div bind-once="bind-once" class="modal-body"></div><p ng-if="node.brandName"><strong>Brand Name</strong><div ng-bind-html="node.brandName"></div></p><p ng-if="node.mechanism.text"><strong>Mechanism</strong><div ng-bind-html="node.mechanism.text"></div></p><p ng-if="node.use.text"><strong>Use</strong><div ng-bind-html="node.use.text"></div></p><p ng-if="node.sideEffects.text"><strong>Side Effects</strong><div ng-bind-html="node.sideEffects.text"></div></p><div class="panel panel-default"><div class="panel-heading"><strong>Pharmacology</strong></div><div class="panel-body"><p ng-if="node.pharmacology.absorption.text"><strong>Absorption</strong><div ng-bind-html="node.pharmacology.absorption.text"></div></p><p ng-if="node.pharmacology.distribution.text"><strong>Distribution</strong><div ng-bind-html="node.pharmacology.distribution.text"></div></p><p ng-if="node.pharmacology.metabolism.text"><strong>Metabolism</strong><div ng-bind-html="node.pharmacology.metabolism.text"></div></p><p ng-if="node.pharmacology.excretion.text"><strong>Excretion</strong><div ng-bind-html="node.pharmacology.excretion.text"></div></p></div></div><p ng-if="node.other.text"><strong>Other</strong><div ng-bind-html="node.other.text"></div></p><div ng-if="node.image.text"><img ng-src="/images/{{node.image.text}}" alt="{{node.name}}" title="{{node.name}}"/></div><div class="modal-footer drug-modal-footer"><p ng-if="node.links"><strong>Links</strong><ul class="list-inline"><li ng-repeat="link in node.links"><a href="{{link.url}}" target="__blank"> {{link.name}}</a></li></ul></p></div></div></div>

views/partials/_drug_modal.jade
div.modal-dialog.large
  div.modal-content
    div.modal-header

      div.container
        div.col-xs-11
          h4 {{node.name}}
        div.col-xs-1
          button.btn.btn-xs.btn-black.btn-danger.no-margin(type="button", data-dismiss="modal", aria-hidden="true")
            i.fa.fa-times

    div.modal-body(bind-once)

    p(ng-if="node.brandName")
        strong Brand Name
        div(ng-bind-html="node.brandName")

      p(ng-if="node.mechanism.text")
        strong Mechanism
        div(ng-bind-html="node.mechanism.text")

      p(ng-if="node.use.text")
        strong Use
        div(ng-bind-html="node.use.text")

      p(ng-if="node.sideEffects.text")
        strong Side Effects
        div(ng-bind-html="node.sideEffects.text")
      
      div.panel.panel-default
        div.panel-heading
          strong Pharmacology
        div.panel-body

          p(ng-if="node.pharmacology.absorption.text")
            strong Absorption
            div(ng-bind-html="node.pharmacology.absorption.text")

          p(ng-if="node.pharmacology.distribution.text")
            strong Distribution
            div(ng-bind-html="node.pharmacology.distribution.text")

          p(ng-if="node.pharmacology.metabolism.text")
            strong Metabolism
            div(ng-bind-html="node.pharmacology.metabolism.text")

          p(ng-if="node.pharmacology.excretion.text")
            strong Excretion
            div(ng-bind-html="node.pharmacology.excretion.text")

      p(ng-if="node.other.text")
        strong Other
        div(ng-bind-html="node.other.text")

      div(ng-if="node.image.text")
        img(ng-src="/images/{{node.image.text}}", alt="{{node.name}}", title="{{node.name}}")

    div.modal-footer.drug-modal-footer
      p(ng-if="node.links")
        strong Links
        ul.list-inline
          li(ng-repeat="link in node.links")
            a(href="{{link.url}}" target="__blank")
              |  {{link.name}}
