views/partials/_drug.html
<div class="table-responsive"><table style="width:100%;" class="table table-bordered table-condensed drug-info"><tbody><tr class="active"><th>Name & Group Proto</th><th>Mechanism</th><th>Use</th><th>Side Effects</th></tr><tr><td><input type="text" name="name[]" value="{{drug.name}}" ng-model="drug.name" class="form-control"/><input type="hidden" name="_id[]" value="{{drug._id}}" ng-model="drug._id"/><br/><label><input type="checkbox" ng-model="drug.isProto"/>&nbsp; Is proto</label></td><td><input type="hidden" name="mechanism.text[]" ng-model="drug.mechanism.text"/><div text-angular="text-angular" name="mechanism.text[]" ng-model="drug.mechanism.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.mechanism.likeProto"/>&nbsp;  Same as proto</label></td><td><input type="hidden" name="use.text[]" ng-model="drug.use.text"/><div text-angular="text-angular" name="use.text[]" ng-model="drug.use.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.use.likeProto"/>&nbsp;  Same as proto</label></td><td><input type="hidden" name="sideEffects.text[]" ng-model="drug.sideEffects.text"/><div text-angular="text-angular" name="sideEffects.text[]" ng-model="drug.sideEffects.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.sideEffects.likeProto"/>&nbsp;  Same as proto</label></td></tr><tr class="active"><th>Brand Name(s)</th><th>Other</th><th colspan="2">Image</th></tr><tr><td><textarea name="brandName[]" value="{{drug.brandName}}" ng-model="drug.brandName" rows="10" class="form-control"></textarea></td><td><input type="hidden" name="other.text[]" ng-model="drug.other.text"/><div text-angular="text-angular" name="other.text[]" ng-model="drug.other.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.other.likeProto"/>&nbsp;  Same as proto</label></td><td colspan="2"><input type="hidden" name="image.text[]" ng-model="drug.image.text"/><div ng-hide="drug.image.text" class="jumbotron no-margin"><h3>Upload Drug Image</h3><h4>- Image URL:</h4><input type="text" ng-model="drug.image.text" ng-change="addImageFileForDrug($files, $event)" class="form-control"/><h4>- Choose from Local drive:</h4><input type="file" ng-file-select="addImageFileForDrug($files)"/><h4>- Or Drug-n-Drop image here:</h4><div ng-file-drop="addImageFileForDrug($files)" ng-file-drag-over-class="dropFilesHoverOver" ng-show="dropSupported" class="dropFiles">...</div><div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div><button ng-click="upload.abort()" class="btn btn-danger"><i class="fa fa-times"> Cancel Upload</i></button></div><div ng-show="drug.image.text"><img ng-src="{{ '/images/' + drug.image.text || '/images/no_image.gif'}}"/><br/><button ng-click="removeImage()" class="btn btn-danger">Remove image</button></div><label><input type="checkbox" ng-model="drug.image.likeProto"/>&nbsp;  Same as proto</label></td></tr><tr class="active"><th colspan="4"><h4 class="text-center">Pharmacology</h4></th></tr><tr class="active"><th>Absorption</th><th>Distribution</th><th>Metabolism</th><th>Excretion</th></tr><tr><td><input type="hidden" name="absorption.text[]" ng-model="drug.pharmacology.absorption.text"/><div text-angular="text-angular" name="absorption.text[]" ng-model="drug.pharmacology.absorption.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.pharmacology.absorption.likeProto"/>&nbsp;  Same as proto</label></td><td><input type="hidden" name="distribution.text[]" ng-model="drug.pharmacology.distribution.text"/><div text-angular="text-angular" name="distribution.text[]" ng-model="drug.pharmacology.distribution.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.pharmacology.distribution.likeProto"/>&nbsp;  Same as proto</label></td><td><input type="hidden" name="metabolism.text[]" ng-model="drug.pharmacology.metabolism.text"/><div text-angular="text-angular" name="metabolism.text[]" ng-model="drug.pharmacology.metabolism.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.pharmacology.metabolism.likeProto"/>&nbsp;  Same as proto</label></td><td><input type="hidden" name="excretion.text[]" ng-model="drug.pharmacology.excretion.text"/><div text-angular="text-angular" name="excretion.text[]" ng-model="drug.pharmacology.excretion.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.pharmacology.excretion.likeProto"/>&nbsp;  Same as proto</label></td></tr><tr class="active"><th>Other</th><th colspan="3"></th></tr><tr><td><input type="hidden" name="pharmacology.other.text[]" ng-model="drug.pharmacology.other.text"/><div text-angular="text-angular" name="pharmacology.other.text[]" ng-model="drug.pharmacology.other.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]"></div><label><input type="checkbox" ng-model="drug.pharmacology.other.likeProto"/>&nbsp;  Same as proto</label></td><td colspan="3"></td></tr><tr ng-show="drug._id" class="active"><th colspan="2">Links</th><th colspan="2">Drug Categories (Parent Categories)</th></tr><tr> <td ng-if="drug._id" colspan="2"><table class="table table-condensed"><tr ng-show="drug.links" class="warning"><th>Name of the Link</th><th>URL of the Link</th><th colspan="2"></th></tr><tr ng-repeat="link in drug.links"><td><input type="text" name="link_name[]" value="{{link.name}}" ng-model="link.name" class="form-control"/></td><td><input type="text" name="link_url[]" value="{{link.url}}" ng-model="link.url" class="form-control"/></td><td><a href="{{link.url}}" target="__blank"><img src="http://g.etfv.co/{{link.url}}" width="16" height="16"/></a></td><td><button type="button" ng-click="deleteDrugLink(link)" class="btn btn-danger"><i class="fa fa-trash-o"> Delete Link </i></button></td></tr><tr ng-show="drug.links"><td></td><td colspan="2"><button type="button" ng-click="updateDrugLinks()" class="btn btn-primary"><i class="fa fa-repeat"> Update Links</i></button></td><td></td></tr><tr class="warning"><th colspan="4" class="text-center">Add new link</th></tr><tr><td><input type="text" ng-model="newLink.name" placeholder="Website / Link name" class="form-control"/></td><td><input type="text" ng-model="newLink.url" placeholder="Website / Link URL" class="form-control"/></td><td><a href="{{newLink.url}}" target="__blank" ng-if="newLink.url"><img src="http://g.etfv.co/{{newLink.url}}" width="16" height="16"/></a></td><td><button type="button" ng-click="addLinkToDrug(drug, newLink)" class="btn no-margin btn-success"><i class="fa fa-plus-square"> Add Link</i></button></td></tr></table></td><td colspan="{{ drug._id ? 2 : 4}}"><div class="text-center"><div class="btn-group"><button type="button" ng-repeat="ct in categoryTypes" ng-show="ct.categories" ng-click="setCurrentCategoryType(ct)" class="btn btn-default {{ct.name == currentCategoryType.name ? 'active' : ''}}"> {{ ct.name | capitalizeFilter }}</button></div></div><div ng-repeat="parent in drugParents" ng-show="parent.categoryType == currentCategoryType._id"><hr/><h4 class="text-center text-info"><i>Current Drug Category (in {{ getCategoryTypeById(parent.categoryType).name }}): <b>{{ getCategoryById(parent.parent).name || "No category is set" }}</b></i></h4><br/><abn-tree tree-data="parent.categories" expand-level="3" display-delete="true" icon-leaf="fa fa-file-text-o" icon-expand="fa fa-plus-square" icon-collapse="fa fa-minus-square" on-select="selectTreeCategory(branch)"></abn-tree></div></td></tr></tbody></table></div>

views/partials/_drug.jade
div.table-responsive
    table.table.table-bordered.table-condensed.drug-info(style="width:100%;")
        
        tbody

            tr.active
                th Name & Group Proto
                th Mechanism
                th Use
                th Side Effects
            tr
                td
                    input.form-control(type="text",   name="name[]", value="{{drug.name}}" ng-model="drug.name")
                    input(type="hidden", name="_id[]",  value="{{drug._id}}"  ng-model="drug._id")

                    br

                    label
                        input(type="checkbox", ng-model="drug.isProto")
                        |&nbsp; Is proto

                td
                    input(type="hidden", name="mechanism.text[]", ng-model="drug.mechanism.text")
                    div(text-angular="text-angular", name="mechanism.text[]", ng-model="drug.mechanism.text", ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")
                    
                    label
                        input(type="checkbox", ng-model="drug.mechanism.likeProto")
                        |&nbsp;  Same as proto

                td
                    input(type="hidden", name="use.text[]", ng-model="drug.use.text")
                    div(text-angular="text-angular", name="use.text[]", ng-model="drug.use.text", ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")
                    
                    label
                        input(type="checkbox", ng-model="drug.use.likeProto")
                        |&nbsp;  Same as proto
                td
                    input(type="hidden", name="sideEffects.text[]", ng-model="drug.sideEffects.text")
                    div(text-angular="text-angular", name="sideEffects.text[]", ng-model="drug.sideEffects.text", ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.sideEffects.likeProto")
                        |&nbsp;  Same as proto

            tr.active
                th Brand Name(s)
                th Other
                th(colspan="2") Image
            tr
                td
                    textarea.form-control(name="brandName[]", value="{{drug.brandName}}" ng-model="drug.brandName", rows="10")
                td
                    input(type="hidden", name="other.text[]", ng-model="drug.other.text")
                    div(text-angular="text-angular", name="other.text[]", ng-model="drug.other.text", ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.other.likeProto")
                        |&nbsp;  Same as proto

                td(colspan="2")
                    
                    input(type="hidden" name="image.text[]" ng-model="drug.image.text")

                    div.jumbotron.no-margin(ng-hide="drug.image.text")
                        h3 Upload Drug Image
                        
                        h4 - Image URL:
                        input.form-control(type="text" ng-model="drug.image.text" ng-change="addImageFileForDrug($files, $event)")
                        
                        h4 - Choose from Local drive:
                        input(type="file" ng-file-select="addImageFileForDrug($files)")

                        h4 - Or Drug-n-Drop image here:
                        
                        div.dropFiles(ng-file-drop="addImageFileForDrug($files)" 
                                      ng-file-drag-over-class="dropFilesHoverOver" 
                                      ng-show="dropSupported") ...

                        div(ng-file-drop-available="dropSupported=true" 
                            ng-show="!dropSupported") HTML5 Drop File is not supported!
                        
                        button.btn.btn-danger(ng-click="upload.abort()")
                            i.fa.fa-times  Cancel Upload

                    div(ng-show="drug.image.text")
                        img(ng-src="{{ '/images/' + drug.image.text || '/images/no_image.gif'}}")
                        br
                        button.btn.btn-danger(ng-click="removeImage()") Remove image

                    label
                        input(type="checkbox", ng-model="drug.image.likeProto")
                        |&nbsp;  Same as proto


            tr.active
                th(colspan="4")
                    h4.text-center Pharmacology
            tr.active
                th Absorption
                th Distribution
                th Metabolism
                th Excretion
            tr
                td
                    input(type="hidden" name="absorption.text[]" ng-model="drug.pharmacology.absorption.text")
                    div(text-angular="text-angular" name="absorption.text[]" ng-model="drug.pharmacology.absorption.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.pharmacology.absorption.likeProto")
                        |&nbsp;  Same as proto

                td
                    input(type="hidden" name="distribution.text[]" ng-model="drug.pharmacology.distribution.text")
                    div(text-angular="text-angular" name="distribution.text[]" ng-model="drug.pharmacology.distribution.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")
                
                    label
                        input(type="checkbox", ng-model="drug.pharmacology.distribution.likeProto")
                        |&nbsp;  Same as proto

                td
                    input(type="hidden" name="metabolism.text[]" ng-model="drug.pharmacology.metabolism.text")
                    div(text-angular="text-angular" name="metabolism.text[]" ng-model="drug.pharmacology.metabolism.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.pharmacology.metabolism.likeProto")
                        |&nbsp;  Same as proto

                td
                    input(type="hidden" name="excretion.text[]" ng-model="drug.pharmacology.excretion.text")
                    div(text-angular="text-angular" name="excretion.text[]" ng-model="drug.pharmacology.excretion.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.pharmacology.excretion.likeProto")
                        |&nbsp;  Same as proto
            tr.active
                th Other
                th(colspan="3")
            tr
                td
                    input(type="hidden" name="pharmacology.other.text[]" ng-model="drug.pharmacology.other.text")
                    div(text-angular="text-angular" name="pharmacology.other.text[]" ng-model="drug.pharmacology.other.text" ta-toolbar="[['pre','bold','italics','underline','ul','justifyLeft','justifyCenter','justifyRight','html', 'insertImage', 'insertLink', 'unlink']]")

                    label
                        input(type="checkbox", ng-model="drug.pharmacology.other.likeProto")
                        |&nbsp;  Same as proto
                td(colspan="3")


            tr.active(ng-show="drug._id")
                
                th(colspan="2") Links
                th(colspan="2") Drug Categories (Parent Categories)
            
            tr  
                td(ng-if="drug._id" colspan="2")
                    table.table.table-condensed
                        tr.warning(ng-show="drug.links")
                            th Name of the Link
                            th URL of the Link
                            th(colspan="2")
                        
                        tr(ng-repeat="link in drug.links")
                            td
                                input.form-control(type="text" name="link_name[]" value="{{link.name}}" ng-model="link.name")
                            td
                                input.form-control(type="text" name="link_url[]"  value="{{link.url}}" ng-model="link.url")
                            td
                                a(href="{{link.url}}" target="__blank")
                                    img(src="http://g.etfv.co/{{link.url}}" width="16" height="16")
                            td
                                button.btn.btn-danger(type="button" ng-click="deleteDrugLink(link)")
                                    i.fa.fa-trash-o  Delete Link 
                        
                        tr(ng-show="drug.links")
                            td
                            td(colspan="2")
                                button.btn.btn-primary(type="button" ng-click="updateDrugLinks()")
                                    i.fa.fa-repeat  Update Links
                            td
                        tr.warning
                            th.text-center(colspan="4") Add new link
                        tr
                            td
                                input.form-control(type="text" ng-model="newLink.name" placeholder="Website / Link name")
                            td
                                input.form-control(type="text" ng-model="newLink.url" placeholder="Website / Link URL")
                            td
                                a(href="{{newLink.url}}" target="__blank" ng-if="newLink.url")
                                    img(src="http://g.etfv.co/{{newLink.url}}" width="16" height="16")
                            td
                                button.btn.no-margin.btn-success(type="button" ng-click="addLinkToDrug(drug, newLink)")
                                    i.fa.fa-plus-square  Add Link
                
                td(colspan="{{ drug._id ? 2 : 4}}")

                    div.text-center
                      div.btn-group
                          button.btn.btn-default(
                              type="button" 
                              ng-repeat="ct in categoryTypes"
                              ng-show="ct.categories"
                              ng-click="setCurrentCategoryType(ct)"
                              class="{{ct.name == currentCategoryType.name ? 'active' : ''}}")
                              |  {{ ct.name | capitalizeFilter }}

                    div(ng-repeat="parent in drugParents"
                        ng-show="parent.categoryType == currentCategoryType._id")

                        hr

                        h4.text-center.text-info
                            i Current Drug Category (in {{ getCategoryTypeById(parent.categoryType).name }}): 
                                b {{ getCategoryById(parent.parent).name || "No category is set" }}
                        
                        br

                        abn-tree(
                            tree-data="parent.categories",
                            expand-level="3", display-delete="true",
                            icon-leaf="fa fa-file-text-o", icon-expand="fa fa-plus-square",
                            icon-collapse="fa fa-minus-square",
                            on-select="selectTreeCategory(branch)"
                        )
