views/index.html
<div><div class="header-search"><div class="eighty"><div class="input-group"><input type="text" name="filter" delayed-model="filter" data-delay="450" placeholder="Category or Drug name/parameter" autofocus="autofocus" class="form-control search-box"/><span class="input-group-btn"><button type="button" ng-click="clearSearch()" class="btn btn-default"><i class="fa fa-times"></i></button></span></div><div ng-show="filter!=''"><label><input type="checkbox" name="highlightDirectMatches" ng-model="highlightDirectMatches" class="highlightDirectMatches"/>Highlight directly matching elements</label></div></div></div><div class="text-center"><div class="btn-group text-center"><button type="button" ng-repeat="ct in categoryTypes" ng-click="changeCategoryType(ct)" class="btn btn-default {{ct.name == currentCategoryType.name ? 'active' : ''}}"> {{ ct.name | capitalizeFilter }}</button></div><br/><div class="btn-group"><button type="button" ng-repeat="paramsMode in params.MODES" ng-click="changeMode(paramsMode)" class="btn btn-default {{ mode == paramsMode ? 'active' : ''}}">{{ paramsMode | deCamelCaseFilter }} mode</button></div><span ng-show="mode == params.MODES.STUDY">&nbsp;&nbsp;&nbsp;Show&nbsp;&nbsp;</span><div ng-show="mode == params.MODES.STUDY" class="btn-group"><button type="button" ng-repeat="setting in drugDisplayProperties" ng-click="toggleSetting(setting)" class="btn btn-default {{ setting.show ? 'active' : ''}}"> {{ setting.name | deCamelCaseFilter }}</button></div></div><h3 ng-if="filter" class="text-center">{{ 'Results for:"' + filter + '"' }}</h3><div class="tree"></div></div>

views/index.jade
div
    div.header-search
        
        div.eighty

            div.input-group
            
                input.form-control.search-box(
                    type="text" 
                    name="filter"
                    delayed-model="filter"
                    data-delay="450"
                    placeholder="Category or Drug name/parameter"
                    autofocus="autofocus")
                span.input-group-btn
                    button.btn.btn-default(type="button" ng-click="clearSearch()")
                        i.fa.fa-times

            div(ng-show="filter!=''")
                label
                    input.highlightDirectMatches(
                        type="checkbox",
                        name="highlightDirectMatches",
                        ng-model="highlightDirectMatches"

                    )
                    | Highlight directly matching elements

    div.text-center

        div.btn-group.text-center
            button.btn.btn-default(
                type="button" 
                ng-repeat="ct in categoryTypes"
                ng-click="changeCategoryType(ct)"
                class="{{ct.name == currentCategoryType.name ? 'active' : ''}}")
                |  {{ ct.name | capitalizeFilter }}

        br

        div.btn-group
            button.btn.btn-default(
                type="button"
                ng-repeat="paramsMode in params.MODES"
                ng-click="changeMode(paramsMode)"
                class="{{ mode == paramsMode ? 'active' : ''}}") {{ paramsMode | deCamelCaseFilter }} mode

        span(ng-show="mode == params.MODES.STUDY") &nbsp;&nbsp;&nbsp;Show&nbsp;&nbsp;

        div.btn-group(ng-show="mode == params.MODES.STUDY")
            button.btn.btn-default(
                type="button" 
                ng-repeat="setting in drugDisplayProperties"
                ng-click="toggleSetting(setting)"
                class="{{ setting.show ? 'active' : ''}}"
            )
                |  {{ setting.name | deCamelCaseFilter }}

    h3.text-center(ng-if="filter") {{ 'Results for:"' + filter + '"' }}

    div.tree
