views/categories/index.html
<div class="container"><h2 class="text-center">Category Type: {{currentCategoryType.name}}</h2><div class="text-center"><div class="btn-group"><button type="button" ng-repeat="ct in categoryTypes" ng-click="changeCategoryType(ct)" class="btn btn-default {{ct.name == currentCategoryType.name ? 'active' : ''}}"> {{ ct.name | capitalizeFilter }}</button></div></div><h2 class="text-center">List of categories in&nbsp;<i>{{currentCategoryType.name | capitalizeFilter }}</i></h2><abn-tree tree-data="catsWithNew" expand-level="3" display-delete="true" icon-leaf="fa fa-file-text-o" icon-expand="fa fa-plus-square" icon-collapse="fa fa-minus-square" on-select="selectTreeCategory(branch, isDelete)"></abn-tree><br/><div class="panel panel-default"><div class="panel-heading"><h3 class="text-center">Add new category</h3></div><div class="panel-body"><h4><i>(will be added&nbsp;<span ng-show="currentCategory">under&nbsp;<b>{{currentCategory.name}}</b></span><span ng-hide="currentCategory">as a&nbsp;<b>new top-level category</b></span>).</i></h4><div ng-hide="currentCategory"><i class="fa fa-toggle-up"><i> Select category from the list above in order to add new category under it.</i></i></div><div ng-repeat="category in newCategories"><div class="input-group"><span class="input-group-addon">New category name:</span><input type="text" ng-model="category.name" class="form-control name"/></div><br/></div><p><button type="button" ng-click="addNewCategory()" class="btn btn-primary"><i class="fa fa-plus-square"> Add another category to queue</i></button></p><p><button type="button" ng-click="saveNewCategories()" class="btn btn-success"><i class="fa fa-save"> Save new categories</i></button></p></div></div><div ng-show="currentCategory" class="panel panel-default"><div class="panel-heading"><h3 class="text-center">Change current category name</h3></div><div class="panel-body"><div class="input-group"><span class="input-group-addon">Current category name</span><input type="text" name="currentCategoryName" value="{{currentCategory.name}}" ng-model="currentCategory.name" class="form-control"/></div><button type="button" ng-click="changeCurrentCategoryName()" class="btn btn-success btn-group"><i class="fa fa-save"> Update the category name</i></button></div></div></div>

views/categories/index.jade
div.container

    h2.text-center Category Type: {{currentCategoryType.name}}

    div.text-center
      div.btn-group
          button.btn.btn-default(
              type="button"
              ng-repeat="ct in categoryTypes"
              ng-click="changeCategoryType(ct)"
              class="{{ct.name == currentCategoryType.name ? 'active' : ''}}")
              |  {{ ct.name | capitalizeFilter }}

    h2.text-center List of categories in&nbsp;
      i {{currentCategoryType.name | capitalizeFilter }}

    abn-tree(tree-data="catsWithNew",
             expand-level="3", display-delete="true",
             icon-leaf="fa fa-file-text-o", icon-expand="fa fa-plus-square", icon-collapse="fa fa-minus-square",
             on-select ="selectTreeCategory(branch, isDelete)")

    br

    div.panel.panel-default
      div.panel-heading
        h3.text-center Add new category
      div.panel-body

        h4
          i (will be added&nbsp;
              span(ng-show="currentCategory") under&nbsp;
                b {{currentCategory.name}}
              span(ng-hide="currentCategory") as a&nbsp;
                b new top-level category
              |).

        div(ng-hide="currentCategory")
          i.fa.fa-toggle-up: i  Select category from the list above in order to add new category under it.

        div(ng-repeat="category in newCategories")
            div.input-group
                span.input-group-addon New category name:
                input.form-control.name(type="text" ng-model="category.name")
            br
        p
          button.btn.btn-primary(type="button", ng-click="addNewCategory()")
            i.fa.fa-plus-square  Add another category to queue
        p
          button.btn.btn-success(type="button", ng-click="saveNewCategories()")
            i.fa.fa-save  Save new categories

    div.panel.panel-default(ng-show="currentCategory")
      div.panel-heading
        h3.text-center Change current category name
      div.panel-body
          div.input-group
            span.input-group-addon Current category name
            input.form-control(type="text"
              name="currentCategoryName"
              value="{{currentCategory.name}}"
              ng-model="currentCategory.name")
          button.btn.btn-success.btn-group(type="button" ng-click="changeCurrentCategoryName()")
            i.fa.fa-save  Update the category name
