views/categoryTypes/index.html
<div class="container"><h1 class="text-center">List of Category Types</h1><table class="table table-bordered table-condensed table-hover"><thead><tr><th>Category name</th><th>Save / Delete</th></tr></thead><tbody><tr ng-repeat="ct in categoryTypes"><td><input type="text" ng-value="ct.name" ng-model="ct.name" class="form-control"/></td><td><button type="button" ng-click="changeCategoryType(ct)" class="btn btn-success btn-margin"><i class="fa fa-save"> Update</i></button><button type="button" ng-click="deleteCategoryType(ct)" class="btn btn-danger btn-margin"><i class="fa fa-trash-o"> Delete</i></button></td></tr></tbody></table><div class="panel panel-default"><div class="panel-heading"><h2 class="text-center">Add new category type</h2></div><div class="panel-body"><table class="table table-condensed"><tr><td><div class="input-group"><span class="input-group-addon">New category type name</span><input type="text" ng-value="newCategoryType.name" ng-model="newCategoryType.name" class="form-control name"/></div></td><td><p><button type="button" ng-click="addCategoryType()" class="btn btn-primary"><i class="fa fa-plus-square"> Add new category type</i></button></p></td></tr></table></div></div><div class="panel panel-default"><div class="panel-heading"><h2 class="text-center">Fetch ATC Categories and Drugs</h2><h4 class="text-center"><i>Fetches the Anatomical Therapeutic Chemical Classification System categories and drugs
from WHOCC website</i></h4><hr/><h4><i>List of ATC codes as it appears on&nbsp;<a href="http://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System#First_level" target="__blank">Wikipedia</a>. (First level)</i></h4></div><div ng-controller="ATCCodesController" class="panel-body"><span ng-repeat="code in codes"><label><input type="checkbox" ng-checked="code.selected" ng-model="code.selected"/> {{ code.code }} - {{ code.name }}</label><br/></span><hr/><i>Select the Category Type into which to pull ATC Categories:</i><br/><select ng-options="categoryType.name for categoryType in categoryTypes" ng-model="atcCategoryType" class="eighty"></select><br/><i class="text-danger"><b>!ACHTUNG!</b>Be careful to select the appropriate category type, otherwise
categories and drugs will be pulled into wrong category type!</i><br/><button ng-click="fetchAndSetATCCodes(atcCategoryType._id)" class="btn btn-primary btn-margin">Fetch ATC codes</button></div></div></div>

views/categoryTypes/index.jade
div.container

    h1.text-center List of Category Types

    table.table.table-bordered.table-condensed.table-hover
      thead
        tr
          th Category name
          th Save / Delete
      tbody
        tr(ng-repeat="ct in categoryTypes")
          td
            input.form-control(type="text", ng-value="ct.name", ng-model="ct.name")
          td
            button.btn.btn-success.btn-margin(type="button", ng-click="changeCategoryType(ct)")
              i.fa.fa-save  Update
            button.btn.btn-danger.btn-margin(type="button", ng-click="deleteCategoryType(ct)")
              i.fa.fa-trash-o  Delete

    div.panel.panel-default

      div.panel-heading

        h2.text-center Add new category type

      div.panel-body

        table.table.table-condensed
          tr
            td
              div.input-group
                span.input-group-addon New category type name
                input.form-control.name(type="text", ng-value="newCategoryType.name", ng-model="newCategoryType.name")
            td
              p: button.btn.btn-primary(type="button", ng-click="addCategoryType()")
                i.fa.fa-plus-square  Add new category type

    div.panel.panel-default

      div.panel-heading

        h2.text-center Fetch ATC Categories and Drugs
        h4.text-center
          i
            | Fetches the Anatomical Therapeutic Chemical Classification System categories and drugs
            | from WHOCC website

        hr

        h4
          i
            | List of ATC codes as it appears on&nbsp;
            a(href="http://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System#First_level"
              target="__blank") Wikipedia
            |. (First level)

      div.panel-body(ng-controller="ATCCodesController")
        span(ng-repeat="code in codes")
          label
            input(type="checkbox" ng-checked="code.selected" ng-model="code.selected")
            |  {{ code.code }} - {{ code.name }}
          br

        hr

        i Select the Category Type into which to pull ATC Categories:

        br

        select.eighty(ng-options="categoryType.name for categoryType in categoryTypes" ng-model="atcCategoryType")

        br

        i.text-danger
          b !ACHTUNG!
          | Be careful to select the appropriate category type, otherwise
          | categories and drugs will be pulled into wrong category type!

        br
        button.btn.btn-primary.btn-margin(ng-click="fetchAndSetATCCodes(atcCategoryType._id)") Fetch ATC codes
