views/drugs/index.html
<a href="/drugs/new" class="btn btn-success"><i class="fa fa-plus-square"> Add new drug</i></a><div><h2 class="text-center">List of Drugs</h2><div ng-include="'/partials/_pager_filter.jade'"></div><div ng-include="'/partials/_pager_pagination.jade'"></div><div><button ng-click="scrapeWebsiteForDrugs()" class="btn btn-primary">Fetch all services for the drug below</button></div><table class="table table-condensed table-hover"><thead><tr><th></th><th>Name</th><th>Brand Name</th><th>Use</th><th>Mechanism</th><th>Side Effects</th><th>Other</th><th>Image</th></tr></thead><tbody ng-repeat="drug in drugs track by drug._id"><tr class="{{ drug.disabled ? 'disabled' : '' }}"><td><a href="/drugs/{{drug._id}}" class="btn btn-primary"><i class="fa fa-edit"> Modify</i></a><div ng-repeat="(name, object) in scrapeService.addresses"><button type="button" ng-click="scrapeWebsiteForDrug(drug, name, object.alternativeLink)" class="btn btn-default"><i class="fa fa-angle-double-up"> Scrape {{ name }}</i></button></div><div><button ng-click="disableDrug(drug)" class="btn btn-default disableButton"><i class="fa {{ drug.disabled ? 'fa-square-o' : 'fa-check-square-o'}}"> {{ drug.disabled ? "Show drug" : "Hide drug" }}</i></button></div><button ng-click="updateDrug(drug)" class="btn btn-success"><i class="fa fa-save"> Save manually</i></button></td><td>{{ drug.name }}</td><td>{{ drug.brandName }}</td><td>{{ drug.use.text }}</td><td><div>{{ drug.mechanism.text }}</div></td><td>{{ drug.sideEffects.text }}</td><td>{{ drug.other.text }}</td><td><div ng-if="drug.image.text"><img ng-src="/images/{{drug.image.text}}" alt="{{drug.name}}" class="drugImageThumbnail"/></div></td></tr></tbody></table><div ng-include="'/partials/_pager_pagination.jade'"></div></div>

views/drugs/index.jade
a.btn.btn-success(href="/drugs/new")
    i.fa.fa-plus-square  Add new drug

div

    h2.text-center List of Drugs

    div(ng-include="'/partials/_pager_filter.jade'")

    div(ng-include="'/partials/_pager_pagination.jade'")

    div
        button.btn.btn-primary(ng-click="scrapeWebsiteForDrugs()")
            | Fetch all services for the drug below

    table.table.table-condensed.table-hover
        thead
            tr
                th
                th Name
                th Brand Name
                th Use
                th Mechanism
                th Side Effects
                th Other
                th Image

        tbody(ng-repeat="drug in drugs track by drug._id")
            tr(class="{{ drug.disabled ? 'disabled' : '' }}")
                td
                    a.btn.btn-primary(href="/drugs/{{drug._id}}")
                        i.fa.fa-edit  Modify

                    div(ng-repeat="(name, object) in scrapeService.addresses")
                        button.btn.btn-default(
                            type='button',
                            ng-click="scrapeWebsiteForDrug(drug, name, object.alternativeLink)")
                            i.fa.fa-angle-double-up  Scrape {{ name }}

                    div
                        button.btn.btn-default.disableButton(ng-click="disableDrug(drug)")
                            i.fa(class="{{ drug.disabled ? 'fa-square-o' : 'fa-check-square-o'}}")
                                |  {{ drug.disabled ? "Show drug" : "Hide drug" }}

                    button.btn.btn-success(ng-click="updateDrug(drug)")
                        i.fa.fa-save  Save manually


                td
                    | {{ drug.name }}
                td
                    | {{ drug.brandName }}
                td
                    | {{ drug.use.text }}
                td
                    div
                        | {{ drug.mechanism.text }}
                td
                    | {{ drug.sideEffects.text }}
                td
                    | {{ drug.other.text }}
                td
                    div(ng-if="drug.image.text")
                        img(ng-src="/images/{{drug.image.text}}" alt="{{drug.name}}" class="drugImageThumbnail")

    div(ng-include="'/partials/_pager_pagination.jade'")
