views/users/index.html
<h1 class="text-center">List of Users</h1><div class="container table-responsive"><table class="table table-bordered table-condensed table-hover"><thead><tr><th>Username</th><th>Email</th><th>Save / Delete</th></tr></thead><tbody><tr ng-repeat="user in users"><td><input type="hidden" name="_id[]" value="{{user._id}}" ng-model="user._id"/><input type="text" name="username[]" value="{{user.username}}" ng-model="user.username" placeholder="Enter user name" class="form-control"/></td><td><input type="email" name="email[]" value="{{user.email}}" ng-model="user.email" placeholder="Enter email" class="form-control"/></td><td><button type="button" ng-click="updateUser(user)" class="btn btn-success btn-margin"><i class="fa fa-save"> {{ user.isNew == true ? "Save new" : "Update" }}</i></button><button type="button" ng-click="deleteUser(user)" class="btn btn-danger btn-margin"><i class="fa fa-trash-o deleteUser"> Delete</i></button></td></tr><tr><td colspan="3"><button type="button" ng-click="addUserToScope()" class="btn btn-primary"><i class="fa fa-plus-square"> Add User</i></button></td></tr></tbody></table></div>

views/users/index.jade
h1.text-center List of Users

div.container.table-responsive

    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th
                    | Username
                th
                    | Email
                th
                    | Save / Delete
        tbody
            tr(ng-repeat="user in users")
                td
                    input(type="hidden", name="_id[]",  value="{{user._id}}", ng-model="user._id")
                    input.form-control(
                        type="text",
                        name="username[]",
                        value="{{user.username}}",
                        ng-model="user.username"
                        placeholder="Enter user name"
                    )
                td
                    input.form-control(
                        type="email",
                        name="email[]",
                        value="{{user.email}}",
                        ng-model="user.email",
                        placeholder="Enter email"
                    )
                td
                    button.btn.btn-success.btn-margin(type="button", ng-click="updateUser(user)")
                        i.fa.fa-save  {{ user.isNew == true ? "Save new" : "Update" }}

                    button.btn.btn-danger.btn-margin(type="button", ng-click="deleteUser(user)")
                        i.fa.fa-trash-o.deleteUser  Delete
            tr
                td(colspan="3")
                    button.btn.btn-primary(type="button", ng-click="addUserToScope()")
                        i.fa.fa-plus-square  Add User
